{% extends 'base.html.twig' %}

{% block title %}Mon compte - Modifier mon mot de passe -La French Touche{% endblock %}

{% block content %}
    <h1> Modifier mon mot de passe </h1>
    <a href="{{ path('account') }}">Retourner a mon compte</a>
    <hr>
    {{ form(form) }}
    <hr>

{% endblock %}